<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GrandPy BOT</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="../static/css/freelancer-theme.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/470b91f216.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <script src="../static/js/jquery/jquery.min.js" charset="utf-8"></script>


</head>
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Contenu principal</a></div>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="/">GrandPy BOT</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="row">
        <div class="intro-text">
            <h1 class="name">Recherche un lieu et je te raconterais une histoire !</h1>
            <hr class="star-light">
            <img class="grandpyimg" src="../static/img/grandpy.png" alt="GrandPy">
        </div>
        <div class="search-zone">
            <input id="searchbar" name="search" class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" type="text"
                   placeholder="La tour eiffel">
            <button id="searchbutton"
                    class="btn btn-primary btn-lg active col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1"
                    type="submit">
                Raconte moi une histoire
            </button>
        </div>

        <div id="result" class="col-xs-12">
            <p id="status" class="lead"></p>
            <p id="description" class="col-md-7 col-xs-12"></p>
            <div id="map" class="col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1"></div>
        </div>
    </div>
</header>

<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="https://github.com/Tuskayn/GrandPapyBot" class="btn-social btn-outline"
                       target="_blank"><span class="sr-only">Github</span><i class="fa fa-fw fa-github"></i></a>
                    <hr class="star-light">
                    <span class="italic">Antonin Laval, A.K.A. Tuskayn</span>
                    <p style="font-style:italic; font-size: 13px;"><a
                            href="https://startbootstrap.com/template-overviews/freelancer/">Thème de StartBootstrap</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="../static/js/freelancer-theme.min.js" charset="utf-8"></script>

</body>

</html>
